@font-face {
    font-family: "Drift";
    src: url("assets/fonts/drift-artwiz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Drift, monospace;
    color: white;
}

h1 {
    font-family: 'VT323', sans-serif;
    font-weight: 500;
}

a, p, li, span {
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url(assets/website-background.gif) center / cover no-repeat;
}

.content-wrapper {
    margin: 0 auto;
    padding: 10px 0px;
    box-sizing: border-box;
    width: 1000px;
    height: 100%;
}

.username-nav {
    font-size: 32px;
    padding-bottom: 12px;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.navigation-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15px;
    padding: 15px 5px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.55);
}

.navigation-bar {
    display: flex;
}

.navigation-bar > * {
    position: relative;
    padding: 0 10px;
}

.navigation-bar > *:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 1em;
    width: 1px;
    background: white;
}

.navigation > *:first-child {
    padding: 0;
}

.navigation-bar > *:not(:last-child) {
    margin-right: 10px;
}

.donation-link {
    display: flex;
    align-items: center;
}

.donation-link span {
    padding-left: 5px;
}

.site-content {
    display: flex;
    padding-top: 10px;
}

.sidebar-info {
    margin-right: 10px;
    padding: 15px;
    background-color: rgba(0,0,0,0.55);
    display: inline-block;
}

.sidebar-info *:not(h1):not(.about-bio) {
    color: #999;
}

.sidebar-info h1 {
    font-size: 26px;
    border-bottom: solid 1px #666;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.profile-pic-sb {
    padding-bottom: 5px;
}

.projects-ul, .user-details-ul {
    padding-top: 10px;
    padding-left: 15px;
    list-style-position: outside;
}

.projects-ul li::before, .user-details-ul li::before {
    content: "\2022";
    margin-right: 8px;
}

.projects-ul li, .user-details-ul li {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

.projects-ul li:last-child, .user-details-ul li:last-child {
    padding-bottom: 0;
}

.projects-ul li span, .user-details-ul li span {
    padding-left: 8px;
}

.about-user {
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.55);
    box-sizing: border-box;
    width: 100%;
}

.about-user h1 {
    font-size: 24px;
    border-bottom: solid 1px #666;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.about-user p {
    line-height: 1rem;
    padding-bottom: 6px;
}

.about-user a {
    color: #00AFF0;
}
